* {
    margin: 0;
    padding: 0;
}

.styled-button {
    background-image: linear-gradient(to right, #fd297b, #ff655b);
    border: none;
    color: #fefae0;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 50px;
}

#style-title {
    margin: 0;
}



/*NAVBAR CSS*/
.navbar {
    display: flex;
    justify-content: center; /* Center the navigation bar horizontally */
    width: 100%; /* Navbar spans the full width */
    
    background-size: 100% 50%, 100% 50%; /* Specify size for each layer */
    background-repeat: no-repeat; /* Prevent repetition of the background */
    color: white;
    padding: 40px 0; /* Adjust padding as needed */     
    background: linear-gradient(to bottom, rgba(253, 41, 123, 1), rgba(255, 101, 91, 0.0));       
    font-size: 40px;
}
.nav-list {
    display: flex; /* Display list items in a row */
    list-style: none; /* Remove default list styling */
    padding: 0;
    
}

.nav-list li {
    color: #000;
    padding: 10px 20px; /* Space around each navigation item */
    margin-top: -30px; /* Adjust this value to move the text higher */
    justify-content: center; /* Center the navigation items horizontally */
    
    
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: -0px;


}

nav ul li a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #ffffff; /* default text color */
  font-size: 25px;
  
  
}

nav ul li a:hover {
  color: #f00; /* change text color on hover */
}

.styled-button:hover {
    background-color: #9c3535; 
}

h1 {
    color: #fd5564;

}

h5{
    color: #a6a6a6;
    margin: 0;
}
body {
    background-color: #ffffff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}



.logo {
    width: 105px; 
    height: auto; /* Maintain aspect ratio */
    margin-left: 10px; /* Adjust the spacing between the header and the image */
    vertical-align: middle; /* Align the image vertically with the text */
}

.companypara {
    position: fixed;
    top: -130%;
    left: -90%;
    width: auto; /* Full width of the viewport */
    height: 80vh; /* Full height of the viewport */
    object-fit: contain; /* Ensure the GIF covers the entire viewport */
    z-index: -1; /* Set the z-index to a value lower than other elements */
    opacity: 0.2; /* Adjust opacity value as needed (0.0 to 1.0) */
    
}

.header {
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center; /* Align items vertically */

}

.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

h1 {
    text-align: center;
    font-size: 65px;
}

form {
    width: 100%;
    max-width: 600px;
}

ol {
    list-style: none;
    padding: 0;
}

button[type="submit"] {
    margin-left: 100px;
    margin-top: 20px; 
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, #fd297b, #ff655b);
    transition-duration: 0.4s;
}

.card-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.card {
    position: absolute;
    background-color: white;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateX(0);
    transition: transform 0.3s ease;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#small_logo{
    width: 80px; 
    height: auto; /* Maintain aspect ratio */
    margin-left: 10px; /* Adjust the spacing between the header and the image */
    vertical-align: middle; /* Align the image vertically with the text */
    margin-top: -10px;
}

li {
    margin-bottom: 20px; 
    margin-left: 90px;
}

.quiz p {
    margin-bottom: 10px;
}


#title-quiz {
    margin: 30px;
    font-size: 36px;
}
